APP_NAME=change_me
APP_CONTAINER_NAME=change_me
APP_WORKDIR=change_me
APP_SOURCE_DIR=change_me
APP_PORT=change_me

UVICORN_APP=change_me
UVICORN_HOST=change_me
UVICORN_PORT=change_me

PYTHON_IMAGE=change_me

POSTGRES_IMAGE=change_me
POSTGRES_CONTAINER_NAME=change_me
POSTGRES_HOST=change_me
POSTGRES_PORT=change_me
POSTGRES_CONTAINER_PORT=change_me
POSTGRES_DB=change_me
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DATA_VOLUME=change_me

DATABASE_URL=change_me

GROQ_API_KEY=change_me
GROQ_MODEL=change_me
GROQ_BASE_URL=change_me
GROQ_TIMEOUT_SECONDS=change_me

ALLOWED_ORIGINS=change_me

CLOUDINARY_CLOUD_NAME=change_me
CLOUDINARY_API_KEY=change_me
CLOUDINARY_API_SECRET=change_me
CLOUDINARY_SECURE=change_me

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=change_me
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=change_me
